html {
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
}

img {
  margin: 1.5rem;
  display: inline;
  width: 25em;
}

h2 {
  color: #333;
  font-family: Lato, sans-serif;
}

p {
  color: #333;
  font-family: Lato, sans-serif;
  text-align: left;
  width: 25em;
  vertical-align: middle;
}

a {
  color: #333;
  font-family: Lato, sans-serif;
  padding: .4em .75em .5em;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
}

a:hover {
  color: white;
  background-color: #666;
}
