*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #eee9de;
  line-height: 1.5;
}

img {
  margin: 1.5rem;
}

h1 {
  color: #333;
  font-family: Lato, sans-serif;
  padding: .4em .75em .5em;
}

figure {

}

p {
  color: #333;
  font-family: Lato, sans-serif;
  text-align: left;
}

nav {
  color: #666;
  font-family: Lato, sans-serif;
}
