*, *::before, *::after {
  box-sizing: inherit;
}

html {
  line-height: 1.5;
  box-sizing:
}

body {
  background-color: #eee9de;
}

img {
  margin: 1.5rem;
  display: inline;
  width: 25em;
}

h2 {
  color: #333;
  font-family: Lato, sans-serif;
}

p {
  color: #333;
  font-family: Lato, sans-serif;
  text-align: left;
  width: 25em;
}

a {
  color: #666;
  font-family: Lato, sans-serif;
  padding: .4em .75em .5em;
}
